[submodule "DDM-conf-tools-shadow"]
	path = DDM-conf-tools-shadow
	url = https://github.com/jCalderTravis/DDM-conf-tools-shadow.git
[submodule "mat-comp-model-tools"]
	path = mat-comp-model-tools
	url = https://github.com/jCalderTravis/mat-comp-model-tools.git
[submodule "simDecisionAndConf"]
	path = simDecisionAndConf
	url = https://github.com/jCalderTravis/simDecisionAndConf.git
[submodule "sim-decis-conf"]
	path = sim-decis-conf
	url = https://github.com/jCalderTravis/sim-decis-conf.git
[submodule "DDM-conf-tools"]
	path = DDM-conf-tools
	url = https://github.com/jCalderTravis/DDM-conf-tools.git
